.bay{
    width: 16vw;
    min-width: 200px;
  }
  .bay:hover{
    box-shadow: 0 0 12px rgb(61, 68, 81, .8);
    cursor: pointer;
  }
  .active-border{
    border: 1px solid #108663;
  }
  .bay.active-border:hover{
    box-shadow: 0 0 12px rgba(16, 134, 99, 0.65);
  }
  .selected{
    border: 2px solid #ffc900;
    border-radius: var(--radius);
  }
  .bay-name{
    font-size: 18px;
  }
  .bay-status{
    display: flex;
    align-items: center;
  }
  .open-time{
    font-size: 18px;
    color: #108663;
  }
  .hist{
    margin: 0 0 0 auto;
    font-size: .9rem;
  }
  .hist span:hover{
    text-decoration: underline;
  }