.infohist{
    display: flex;
    gap: var(--padd);
}

.historyTable{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
    }
    .historyHeader{
        display: grid;
        grid-template-columns: .7fr 1.5fr 2fr;
        gap: 8px;
        padding: 8px 10px;
        font-weight: 600;
        border-bottom: 1px solid #3a3a3a;
        text-transform: uppercase;
    }
    .historyRow{
        display: grid;
        grid-template-columns: .7fr 1.5fr 2fr;
        gap: 8px;
        padding: 8px 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        align-items: center;
    }
    .historyRow:hover{
        background: rgba(225, 225, 225, 0.04);
        cursor: pointer;
    }
    .historyRow span, .historyHeader span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }