.bay{
    width: 16vw;
    min-width: 200px;
  }
  .bay:hover{
    box-shadow: 0 0 12px rgb(61, 68, 81, .8);
    cursor: pointer;
  }
  .activeBorder{
    border: 1px solid #108663;
  }
  .bay.activeBorder:hover{
    box-shadow: 0 0 12px rgba(16, 134, 99, 0.65);
  }
  .bayName{
    font-size: 15px;
  }
  .bayStatus{
    display: flex;
    align-items: center;
  }
  .openTime{
    font-size: 14px;
    color: #108663;
  }
  .hist{
    margin: 0 0 0 auto;
    font-size: .9rem;
  }
  .hist span:hover{
    text-decoration: underline;
  }
  .sensorCont{
    width: 50%;

  }
  .sensStatus{
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
  .sensName{
    font-size: 11px;;
  }