.dhist{
    flex: 1;
}

.historyTable{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
    position: relative;
    }
    .historyHeader{
        position: absolute;
        display: grid;
        grid-template-columns: 1.8fr 3.5fr 3fr;
        padding: 0 10px 8px;
        gap: 8px;
        font-weight: 600;
        border-bottom: 1px solid #3a3a3a;
        text-transform: uppercase;
        width: 90%;
    }
    .historyRowCont{
        margin-top: 27px;
        display: flex;
        flex-direction: column;
        max-height: 27vh;
        min-height: 27vh;
        overflow: auto;
    }
    .historyRow{
        display: grid;
        grid-template-columns: 1.8fr 3.5fr 3fr;
        gap: 8px;
        padding: 8px 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        align-items: center;
    }
    .historyRow:hover{
        background: rgba(225, 225, 225, 0.04);
        cursor: pointer;
    }
    .historyRow span, .historyHeader span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }