.content{
  flex: 1 1 auto;
  align-items: flex-start;
  padding: var(--padd);
}

.widget{
  flex: 1;
  border-radius: var(--radius);
  border: var(--border);
  background-color: var(--widget-bkg);
  padding: var(--padd);
  }
  .widget-hdr{
    font-size: 25px;
  }
  .widget-subhdr{
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0;
  }

.nested-widget{
  background-color: #0a0f14;
  padding: 10px;
  border-radius: var(--radius);
  border: var(--border);
}