.stack{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
}
.gap{
    gap: 10px;
}
.apart{
    display: flex;
    justify-content: space-between;
}
.active-font{
    color: #108663;
}
.inactive-font{
    color: #9da0a4 !important
}
.bold{
    font-weight: bold;
}