.stack{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
}
.gap5{
    gap: 5px;
}
.gap10{
    gap: 10px;
}
.gap20{
    gap: 20px;
}
.apart{
    display: flex;
    justify-content: space-between;
}
.center{
    align-items: center;
}
.active-font{
    color: var(--on);
}
.inactive-font{
    color: #9da0a4 !important
}
.bold{
    font-weight: bold;
}

.sensorColActive{
    background-color: var(--on);
}
.sensorColInactive{
    background-color: red;
}

.orgColor{
  color: var(--ds_orange);
}

.loading_DockCard{
    border: 1px solid var(--on) !important;
}
.loading_DockCard:hover {
    box-shadow: 0 0 12px rgba(16, 134, 99, 0.65);
}
.active_DockCard{
    border: 1px solid var(--ds_orange) !important;
}
.active_DockCard:hover{
    box-shadow: 0 0 12px rgba(190, 78, 48, 0.65);
}

.activeCardShow{
    padding: 10px 0 0 0;
    display: block;
}
.activeCardHide{
    display: none;
}