@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ds_orange: #be4e30;
  --ds_orange_hvr: #a4381a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body{
  background: var(--background);
  color: var(--foreground);
}

main{
  display: flex;
}

.sidemenu{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 100vh;
  }
  .sidemenu .sm-logo{
    height: 200px;
    margin: 20px;
  }
  .sm-option{
    font-size: 20px;
    padding: 20px;
  }
  .sm-option:hover{
    background-color: #1b1b1b;
  }

.content{
  background-color: #1b1b1b;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  }
  .txt{
    font-size: 40px;
    color: var(--ds_orange);
  }