@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ds_orange: #be4e30;
  --ds_orange_hvr: #a4381a;
  --border: 1px solid #787878;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body{
  background: var(--background);
  color: var(--foreground);
}

main{
  display: flex;
}

.sidemenu{
  display: flex;
  flex-direction: column;
  height: 100vh;
  }
  .sidemenu .sm-logo{
    width: 230px;
  }
  .sm-option{
    font-size: 20px;
    padding: 20px 0 20px 20px;
    width: 100%;
  }
  .sm-option:hover{
    background-color: #1b1b1b;
  }

.content{
  background-color: #1b1b1b;
  display: flex;
  flex: 1;
  padding: 10px;
}

.bays-container{
  display: flex;
  flex-direction: column;
  width: 60%;

  }
  .baylist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 12px 16px;
  }
  .baylist.hdr{
    font-weight: bold;
    color: var(--foreground);
    font-size: 15px;
    border-bottom: var(--border);
  }

.data-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: var(--border)
}